.Main{
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    margin-left: 9%;
    margin-top: 1%;

}

.one img{
    height: 76%;
    margin-top: 8.3%;
    margin-left: 4.1%;
}

.two h1{
    Margin-top: 44%;
    font-size: 601%;
    FONT-WEIGHT: 700;
    margin-left: -16.5%;
    margin-bottom: 0%;
}

.two button{
    color: #fff;
    background: #000;
    height: 6.5%;
    width: 41.5%;
    margin: 0% 42%;
    border-radius: 5px;
    font-size: 94%;
    letter-spacing: 0.3px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0%;
}